<template>
  <transition name="fade">
    <div class="home" v-if="!secondplayer">
      <div class="inner">
        <h1><font color="#6c9a06">PENSUM QUIZ</font></h1>
        <p>Pon a prueba tu conocimiento sobre las materias comprendidas en el pensum de Ingeniería de Sistemas</p>
        <p>¡Invita a otro jugador!, pásale este enlace: {{url}}.</p>
      </div>
    </div>
    <div class="play" v-if="secondplayer">
      <div>
        <div class="container quizapp--header--text">
          <h1>PENSUM QUIZ</h1>

          <div class="columns quizapp--inner">
            <div class="column is-half left">
              <p class="title">Usuario 1</p>
              <p class="subtitle">Puntaje: {{playerdata.one.score}}</p>
            </div>
            <div v-if="secondplayer" class="column is-half right">
              <p class="title">Usuario 2</p>
              <p class="subtitle">Puntaje: {{playerdata.two.score}}</p>
            </div>
          </div>

          <div class="quizapp--text">
            <p>{{question.question}}
            </p>
            <div class="quizapp--answers">
              <a v-bind:class="{ 'wronganswer': hasAnswered && !item.correct, 'correctanswer': hasAnswered && item.correct}" @click="checkAnswer(item)" v-for="(item, index) in options">{{item.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import ChannelDetails from '@/components/ChannelDetails'
  const questions = [
    {
      question: 'Es el protocolo que funciona en la capa de red del modelo OSI y es el protocolo de internet',
      options: [
        {name: 'Gateway', correct: false}, 
      {name: 'IP', correct: true}, 
      {name: 'DNS', correct: false}, 
      {name: 'Https', correct: false}],
      answer: 'IP'
    },
    {
      question: '¿Qué significa OSI?',

      options: [
        {name: 'Open System Interconnection', correct: true}, 
      {name: 'Operating System Internet', correct: false}, 
      {name: 'Operating System Ip', correct: false}, 
      {name: 'Open System Internet', correct: false}],
      answer: 'Open System Interconnection'
    },
    {
      question: 'Red de computadoras que abarca un área reducida a una casa, un apartamento o un edificio.',
      options: [
        {name: 'WAN', correct: false}, 
        {name: 'Internet', correct: false}, 
        {name: 'LAN', correct: true}, 
        {name: 'Wi-Fi', correct: false}],
      answer: 'LAN'
    },
    {
      question: '¿Cuántos bits posee una dirección MAC?',
      options: [
        {name: '32', correct: false}, 
        {name: '64', correct: false}, 
        {name: '128', correct: false}, 
        {name: '48', correct: true}],
      answer: '48'
    },
    {
      question: '¿Cuántas capas tiene el modelo OSI?',
      options: [
        {name: '5', correct: false}, 
        {name: '7', correct: true}, 
        {name: '9', correct: false}, 
        {name: '12', correct: false}],
      answer: '7'
    },
    {
      question: 'NO es una capa del modelo OSI',
      options: [
        {name: 'Red', correct: false}, 
        {name: 'Transición', correct: false}, 
        {name: 'Presentación', correct: true}, 
        {name: 'Física', correct: false}],
      answer: 'Presentación'
    },
    {
      question: 'Un protocolo de comunicación se define como:',
      options: [
        { name: 'Un comando', correct: false }, 
        { name: 'Un lenguaje de programación', correct: false }, 
        { name: 'Un conjunto de normas y reglas para la comunicación', correct: true }, 
        {name: 'Un conjunto de dispositivos para la comunicación', correct: false}],
      answer: 'Un conjunto de normas y reglas para la comunicación'
    },
    {
      question: 'Las redes de comunicación permiten: ',
      options: [
        {name: 'Compartir productos', correct: false}, 
        {name: 'Compartir la información entre grupos de computadores en red', correct: false}, 
        {name: 'Compartir recursos, información entre grupos de computadores y usuarios múltiples de red', correct: true}, 
        {name: 'Compartir la energía entre los usuarios', correct: false}],
      answer: 'Compartir recursos, información entre grupos de computadores y usuarios múltiples de red'
    },
    {
      question: 'Es un dispositivo de red conocido como conmutador de paquetes y funciona en la capa de enlace del modelo osi',
      options: [
        {name: 'Router', correct: true}, 
        {name: 'Switche', correct: false}, 
        {name: 'Gateway', correct: false}, 
        {name: 'Mouse', correct: false}],
      answer: 'Router'
    }
  ]
  export default {
    name: 'home',
    data () {
      return {
        presenceid: null,
        hasAnswered: false,
        question: null,
        options: null,
        correctanswer: null,
        count: null,
        players: 1,
        secondplayer: false,
        playerdata: {
          one: {
            id: null,
            score: 0,
            userid: null
          },
          two: {
            id: null,
            score: 0,
            userid: null
          }
        },
        userid: null,
        url: null
      }
    },
    created () {
      this.fetchData()
    },
    methods: {
      fetchData () {
        this.presenceid = this.getUniqueId()
        if (!this.checkPresenceID()) {
          var separator = (window.location.href.indexOf('?') === -1) ? '?' : '&'
          window.location.href = window.location.href + separator + this.presenceid
        }
        this.url = window.location.href
        this.getNewQuestion()
        let channel = ChannelDetails.subscribeToPusher()
        channel.bind('pusher:member_added', members => {
          this.players += 1
          this.secondplayer = true
        })
        channel.bind('pusher:subscription_succeeded', members => {
          if (members.count === 1 && !this.playerdata.one.id) {
            this.playerdata.one.id = members.myID
            this.playerdata.one.userid = 1
            this.userid = 1
          } else if (members.count === 2) {
            this.secondplayer = true
            this.playerdata.two.id = members.myID
            this.playerdata.two.userid = 2
            this.userid = 2
          }
        })
        channel.bind('pusher:member_removed', member => {
          this.players -= 1
          if (member.count === 1) {
            this.secondplayer = false
          }
        })
        channel.bind('client-send', (data) => {
          if (this.userid === 1) {
            this.playerdata.two.score = data.data.two.score
          } else if (this.userid === 2) {
            this.playerdata.one.score = data.data.one.score
          }
        })
      },
      getUniqueId () {
        return 'id=' + Math.random().toString(36).substr(2, 8)
      },
      checkPresenceID () {
        let getQueryString = (field, url) => {
          let href = url ? url : window.location.href
          let reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i')
          let string = reg.exec(href)
          return string ? string[1] : null
        }
        let id = getQueryString('id')
        return id
      },
      checkAnswer (item) {
        let channel = ChannelDetails.subscribeToPusher()
        this.hasAnswered = true
        if (item.name === this.correctanswer) {
          if (this.userid === 1) {
            this.playerdata.one.score += 10
          } else if (this.userid === 2) {
            this.playerdata.two.score += 10
          }
        } else {
          if (this.userid === 1) {
            this.playerdata.one.score = Math.max(0, this.playerdata.one.score -= 10)
          } else if (this.userid === 2) {
            this.playerdata.two.score = Math.max(0, this.playerdata.two.score -= 10)
          }
        }
        channel.trigger('client-send', {data: this.playerdata})
        this.count = 3
        let countdown = setInterval(() => {
          this.count -= 1
          if (this.count === 0) {
            clearInterval(countdown)
            this.getNewQuestion()
          }
        }, 1000)
      },
      getRandomQuestions (array, count) {
        let length = array.length
        let randomIndexes = []
        let randomItems = []
        let index, item
        count = count | 1
        while (count) {
          index = Math.floor(Math.random() * length)
          if (randomIndexes.indexOf(index) === -1) {
            count--
            randomIndexes.push(index)
          }
        }
        randomIndexes.forEach((index) => {
          item = array.slice(index, index + 1).pop()
          randomItems.push(item)
        })
        if (randomItems.length === 1) {
          return randomItems.pop()
        } else {
          return randomItems
        }
      },
      getNewQuestion () {
        let question = this.getRandomQuestions(questions, 1)
        this.question = question
        this.options = question.options
        this.correctanswer = question.answer
        this.hasAnswered = false
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
.play--button {
  background-color: white;
  color: #6c9a06;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 20px;
  transition: all 0.3s ease;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.play--button:hover {
  background-color: white;
  color: #6c9a06;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
a {
  color: #fff;
}
p {
  color: #fff;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.play--button {
  background-color: white;
  color: #6c9a06;
  font-weight: bold;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 20px;
  transition: all 0.3s ease;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
.play--button:hover {
  background-color: white;
  color: #6c9a06;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.quizapp--header--text {
  margin-top: 50px;
}
.quizapp--inner {
  margin-top: 20px;
}
.quizapp--inner .left {
  text-align: left;
}
.quizapp--inner .right {
  text-align: right;
}
.title {
  font-weight: bold;
}
.quizapp--text {
  width: 600px;
  margin: 0 auto;
}
.quizapp--text p {
  font-weight: bold;
}
.quizapp--answers a {
  display: block;
  border: 3px solid white;
  border-radius: 50px;
  margin: 20px auto;
  width: 500px;
  padding: 10px;
}
.wronganswer {
  background-color: #ec6969;
  border: none !important;
  opacity: 0.4;
  transition: background-color 0.5s ease;
}
.correctanswer {
  background-color: #00c4a7;
  border: none !important;
  transition: background-color 0.5s ease;
}
</style>